version: "3"
volumes:
  verma_server_db_data:
services:
  verma_server_db:
    image: "docker.io/postgres:alpine"
    hostname: "verma_server_db"
    container_name: "verma_server_db"
    restart: on-failure
    volumes:
      - "verma_server_db_data:/var/lib/postgresql/data"
    environment:
      - "POSTGRES_USER=${DB_USER:-verma_user}"
      - "POSTGRES_PASSWORD=${DB_PASSWORD:-password321}"
      - "POSTGRES_DB=${DB_NAME:-verma_server_db}"
  verma_server:
    build:
      context: .
    image: "ghcr.io/verma-project/verma_server:latest"
    hostname: "verma_server"
    container_name: "verma_server"
    restart: on-failure
    depends_on:
      - verma_server_db
    ports:
      - "8080:8080"
