spring.datasource.url=jdbc:postgresql://postgresql_repair_cafe_backend:5432/${DB_NAME:repair_cafe_backend_db}
spring.datasource.username=${DB_USER:repair_cafe_backend_user}
spring.datasource.password=${DB_PASSWORD:password123}
spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false
