server.port=${API_PORT:8080}
logging.level.org.atmosphere = warn

spring.jpa.defer-datasource-initialization=true
spring.sql.init.mode=always
server.servlet.session.tracking-modes=cookie

spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=update
