# SPDX-FileCopyrightText: 2023-2025 Dom Rodriguez (shymega) <shymega@shymega.org.uk>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: "Container Image builder workflow"

on:
  workflow_call:

jobs:
  build-container-image:
    name: Build and push container image to GHCR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Build images
        id: build
        uses: redhat-actions/buildah-build@v2.13
        with:
          image: ${{ github.repository }}
          tags: ${{ github.ref_name }}
          containerfiles: Dockerfile

      - name: Push container to GHCR.io
        uses: redhat-actions/push-to-registry@v2.8
        with:
          image: ${{ steps.build.outputs.image }}
          tags: ${{ steps.build.outputs.tags }}
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
