# SPDX-FileCopyrightText: 2023-2025 Dom Rodriguez (shymega) <shymega@shymega.org.uk>
#
# SPDX-License-Identifier: AGPL-3.0-only

---
name: "Conventional Commits Verification Workflow"

on:
  pull_request:

jobs:
  test-pr-commit-msg:
    name: Test the PR's commit message for compliance with Conventional Commits.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: webiny/action-conventional-commits@v1.3.1
        with:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
